{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "linebreak-style": "off",
        "require-jsdoc": "off",
        "arrow-parens": "off",
        "indent": ["error", 4],
        "comma-dangle": "off",
        "eol-last": "off"
    },
    "extends": ["eslint:recommended", "google"]
}
